## ark
bin/arkmanager
## ckb
config/ckb/ckb.conf
## fish (use fisher to manage these)
config/fish/fish_variables
config/fish/functions/fisher.fish
config/fish/completions/fisher.fish
config/fish/fishd.*
## i3
config/i3/config
## irssi
irssi/config
irssi/away.log
irssi/blow.ini
## mpd
config/mpd/database
config/mpd/log
config/mpd/pid
config/mpd/state
## ncmpcpp
ncmpcpp/error.log
## polybar
config/polybar/config
config/polybar/.*
## ranger
config/ranger/colorschemes/__init__.py
## tmux
tmux/plugins/tpm
tmux/plugins/tmux-prefix-highlight
tmux/plugins/tmux-sensible
## vis
config/vis/vis.log
## vim
vim/.netrwhist
vim/bundle
