# $Arch: sshd_config,v 1.007 2017/08/13 14:41:52 kyau Exp $

Protocol 2
Port 22
LogLevel INFO
Banner /etc/ssh/sshd_banner
AllowGroups ssh

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
LoginGraceTime 20
AuthorizedKeysFile .ssh/authorized_keys
UsePAM yes
PrintMotd no
PrintlastLog no
Subsystem sftp /usr/lib/ssh/sftp-server

# vim: ft=sshdconfig ts=2 sw=2 noet :
